body {
	background: url(../images/leaf3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



#container {
	width: 1000px;
	height: 750px;
	z-index: 1;
	img src: ;
}


#page_title {
	margin-bottom: 30px;
	font-family: 'Overlock', cursive;
	font-weight: 900;
	text-align: center;
	font-size: 30pt;
	z-index: 3;
	color: #faffd1;
}

.headlines{
	font-family: 'Overlock', cursive;
	font-weight: 900;
	font-size: 15pt;
	z-index: 3;
	color: #faffd1;
}

.links{
	margin: 10px;
	margin-left: 40px;
	font-family: 'Overlock', cursive;
	font-weight: 400;
	font-size: 11pt;
	z-index: 3;
	color: #636549;
}



/* unvisited link */
a:link {
    color: #636549;
}

/* visited link */

a:visited {
    color: #636549;
}


/* mouse over link */
a:hover {
    color: #346921;
    font-size: 15;
    font-weight: 700;
}

/* selected link */
a:active {
    color: #D6CF00;
}






@media screen and (max-width:1400px){
	img {
		width: 100%;
	}
}

@media screen and (max-width:320px){
	img {
		width: 50%;
	}
}
