/* This is the animation code. */
@-webkit-keyframes example {
   from { 
      transform: scale(2.0);
   }
   to { 
      transform: scale(1.0);
   }
}

/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: infinite;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   background: blue;
}




/* This is the animation code. */
@-webkit-keyframes example2 {
   from { 
      transform: scale(1.5);
   }
   to { 
      transform: scale(1.0);
   }
}

/* This is the element that we apply the animation to. */
.colorbox2 {
   -webkit-animation-name: example2;
   -webkit-animation-duration: .5s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: .5s;             /* 0 is the default */
   -webkit-animation-iteration-count: infinite;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   background: pink;
}