body {padding:50px;}

.green {
  cursor:move;
  width:70px;
  height:70px;
  background-color:green;
  border:1px solid black;
  margin:2px;
  float:left;
}

.red {
  cursor:move;
  width:200px;
  height:80px;
  background-color:red;
  border:1px solid black;
  margin:2px;
  float:left;
}

.yellow {
  cursor:move;
  width:120px;
  height:150px;
  background-color:yellow;
  border:1px solid black;
  margin:2px;
  float:left;
}

.orange {
  cursor:move;
  width:100px;
  height:350px;
  background-color:orange;
  border:1px solid black;
  margin:2px;
  float:left;
}

.blue {
  cursor:move;
  width:310px;
  height:210px;
  background-color:blue;
  border:1px solid black;
  margin:2px;
  float:left;
}

.purple {
  cursor:move;
  width:150px;
  height:120px;
  background-color:purple;
  border:1px solid black;
  margin:2px;
  float:left;
}



.draggable {
  background-color:pink;
}
