body {
	background-color: white;
	width: 1200px;
	height: 800px;
}

#container {
	width: 1200px;
	height: 800px;
	margin: auto;
	background-color: #ffcc00;
	padding: 50px;
}

.next {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

.previous {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

#text {
	font-family: 'Sniglet', cursive; 
	font-style: 800;
	font-size: 40pt;
	text-align: center;
}

.imgh {
	width: 300px;
	height: 137;
	padding-bottom: 133px;
}
