body {
	background-color: #ffcc00;
	width: 1200px;
	height: 800px;
}

#container {
	width: 1200px;
	height: 800px;
	margin: auto;
	background-color: #ffcc00;
	padding: 30px;
}

.navigation {
	z-index: 3;
	width: 400px;
	height: 120px;
	left: 450px;
	top: ;
	padding-left: 300px;

}

.home {
	width: 91px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: right;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

.next {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

.previous {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}


/* unvisited link */
a:link {
    color: black;
}

/* visited link */

a:visited {
    color: black;
}


/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: black;
}


#video {
	z-index: 1;
}

#sentence {
	width: 1100px;
	height: 100px;
	z-index: 2;
}

#letters {
	width: 146px;
	height: 60px;
	z-index: 2;
}


.imgh {
	width: 300px;
	height: 137;
	padding-bottom: 133px;
}

.t_white {
	z-index: 4;
	position: absolute;
	left: 910px;
	top: 453px;
	animation-name: slideOutUp;
}

.o_white {
	z-index: 4;
	position: absolute;
	left: 947px;
	top: 453px;
}

.y_white {
	z-index: 4;
	position: absolute;
	left: 986px;
	top: 453px;
}

.s_white {
	z-index: 4;
	position: absolute;
	left: 1016px;
	top: 453px;
}

.t {
	z-index: 5;
	position: absolute;
	left: 910px;
	top: 453px;
	animation-name: slideOutUp;
}

.o {
	z-index: 5;
	position: absolute;
	left: 947px;
	top: 453px;
}

.y {
	z-index: 5;
	position: absolute;
	left: 986px;
	top: 453px;
}

.s {
	z-index: 5;
	position: absolute;
	left: 1016px;
	top: 453px;
}



@keyframes slideout {
 from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
  }
}


.t {
	animation-delay: 1.5s;
	animation-name: slideout;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.o {
 	animation-delay: 4s;
	animation-name: slideout;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.y {
 	animation-delay: 6s;
	animation-name: slideout;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.s {
 	animation-delay: 8s;
	animation-name: slideout;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}