body {
	background-color: #ffcc00;
	width: 1200px;
	height: 800px;
}

#container {
	width: 1200px;
	height: 800px;
	margin: auto;
	background-color: #ffcc00;
	padding: 30px;
}

.video {
	padding-left: 25px;
}

.navigation {
	z-index: 3;
	width: 400px;
	height: 120px;
	left: 700px;
	top: ;
	padding-left: 300px;
	padding-top: 30px;
}

.home {
	width: 91px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: right;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

.next {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

.previous {
	width: 151px;
	height: 118px;
	float: right;
	float: bottom;
	text-align: center;
	font-family: 'Sniglet', cursive; 
	font-style: 400;
	font-size: 15pt;
	z-index: 3;
}

#text {
	font-family: 'Sniglet', cursive; 
	font-style: 800;
	font-size: 40pt;
}

.imgh {
	width: 300px;
	height: 137;
	padding-bottom: 133px;
}





/* unvisited link */
a:link {
    color: black;
}

/* visited link */

a:visited {
    color: black;
}


/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: black;
}