#container {

width: 800px;
height: 800px;
margin: auto;
}

#box {
	width: 100px;
	height: 100px;
	float: left;
	background: red;
}

#empty {
	width: 100px;
	height: 100px;
	float: left;
	background: white;
}