img {
	position: relative;
	z-index: 1;
	display: block;
}

#text5 {

	color: white;
	font-family: 'Shadows Into Light Two';
	font-size: 40px;
	display:block;
	position:absolute;
	width:100%;
	top:500px;
	left:0;
	z-index:2;
	text-align:center;
}

#text4 {

	color: white;
	font-family: 'Shadows Into Light Two';
	font-size: 40px;
	display:block;
	position:absolute;
	width:100%;
	top:1500px;
	left:0;
	z-index:2;
	text-align:center;
}

#text3 {

	color: white;
	font-family: 'Shadows Into Light Two';
	font-size: 40px;
	display:block;
	position:absolute;
	width:100%;
	top:2500px;
	left:0;
	z-index:2;
	text-align:center;
}


#text2 {

	color: white;
	font-family: 'Shadows Into Light Two';
	font-size: 40px;
	display:block;
	position:absolute;
	width:100%;
	top:3500px;
	left:0;
	z-index:2;
	text-align:center;
}

#text1 {

	color: white;
	font-family: 'Shadows Into Light Two';
	font-size: 40px;
	display:block;
	position:absolute;
	width:100%;
	top:4500px;
	left:0;
	z-index:2;
	text-align:center;
}

@media screen and (max-width:1400px){
	.imagebox {
		width: 100%;
	}
	img {
		width: 100%;
	}

}

@media screen and (max-width:320px){
	.imagebox {
		width: 100%;
	}
	img {
		width: 100%;
	}

	#text5 {
		font-size: 2px;
		top: 300px;
		color: green;
	}

}