#container {
	width: 940px;
	height: 1000px;
	margin: auto;
}

#blue {
	width: 940px;
	height: 100px;
	background: blue;

}

#yellow {
	width: 940px;
	height: 30px;
	background: yellow;
	margin-top: 20px;
}

#columns {
	width: 940px;
	height: 710px;
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

#pink {
	width: 300px;
	height: 710px;
	background: pink;
	float: left;
}


#orange {
	width: 300px;
	height: 710px;
	background: orange;
	float: left;
	margin-left: 20px;
}

#green {
	width: 300px;
	height: 710px;
	background: green;
	float: left;
	margin-left: 20px;
}

