body {
	background-color: orange;
}

#artist {
	width: 200px;
	height: 200px;
	background-color: purple;
	font-family: Helvetica;
	font-size: 30px;
	text-align: center;
	float: left;
}

#sculptor {
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	float: left;
}

#circle {
	width: 200px;
	height: 200px;
	background-color: yellow;
	float: left;
}

#container {
	width: 600px;
	height: 800px;
	margin: auto;
}
/*

#artist {
	width: 1000px;
	height: 900px;
	background-color: purple;
	margin: auto;
	font-family: Helvetica;
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

#sculptor {
	width: 200px;
	height: 300px;
	background-color: red;
	color: white;
	padding-right: 50px;
	margin: 400px;
	border: 20px dotted #769101;
}

.sidebar {
	width: 500px;
	height: 200px;
	background-color: green;
	color: white;
	font-size: 40px;
	border: 20px solid #568301;
}

#circle {
	width: 500px;
	height: 400px;
	background-color: yellow;
}